html { 
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;

  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  
  background-color: #ffffff;

}

.inner-page .page-title-wrapper {
  padding-top: 75px;
  padding-bottom: 110px;
  background-color: #eeeeee;
  margin-bottom: 55px;
  color: #000000;
}

.inner-page h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500; 
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  display: inline-block;
  vertical-align: top;
  padding: 15px 35px;
  margin-top: 35px;
  margin-right: 16px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 1, 1, 0.1);
}

.main-navigation {
  display: flex;
  width: 100%;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000; 

  background-color: #eeeeee;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation .container {
  display: flex;
}

.main-header-logo {
  width: 160px;
  height: 65px; 
  margin-top: 50px;
  margin-right: 200px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}


.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  margin-top: 65px;

  list-style: none;
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: -47px;
  width: 500px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 167px;
}

.site-navigation a,
.user-navigation a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 47px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .basket-link {
  position: relative;
  padding-left: 45px;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 4px;
  width: 18px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.site-navigation-current a::before{
  content:"";
  position: absolute;
  top:42px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fb565a;
}

.slider {
  position: relative;
  
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 88px;
  z-index: 100;
  
  width: 160px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

/*подложка для переключателей*/
.slider-controls button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  padding: 8px;/*увеличиваем зону нажатия*/
  
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/*видимая часть переключателя*/
.slider-controls button::after {
  content: ""; 
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff; 
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slide-show {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  margin: 0;
  min-width: 240px;
  max-width: 300px;
}

.services-list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}

.services-item {
  width: 300px;
  text-align: left;
}

.services-item h3{
  margin: 0;
  margin-top: 170px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-item:nth-of-type(1) {
  background-image: url("../img/service-1.png");
  background-repeat: no-repeat;
}

.services-item:nth-of-type(2) {
  background-image: url("../img/service-2.png");
  background-repeat: no-repeat;
}

.services-item:nth-of-type(3) {
  margin-right: 60px;
  background-image: url("../img/service-3.png");
  background-repeat: no-repeat;
}

.services-item p {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.services-item .button {
  min-width: 160px;
}

.services-item:nth-of-type(2) .button {
  background-color: #00ca74;
}

.services-item:nth-of-type(2) .button:hover,
.services-item:nth-of-type(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-of-type(2) .button:active {
  background-color: #00aa62;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.3);
}

.services-item:nth-of-type(3) .button {
  background-color: #efc84a;
}

.services-item:nth-of-type(3) .button:hover,
.services-item:nth-of-type(3) .button:focus {
  background-color: #eab534;
}

.services-item:nth-of-type(3) .button:active {
  background-color: #e5a722;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.3);
}


.description-statistics-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
}

.description-statistics-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.description {
  width: 660px;
  margin-top: 35px;
}

.description strong {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.description h3 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-bottom: 25px;  
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.description p {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.order-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.order-list li {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 35px;
}

.order-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.statistics {
  width: 360px;
}

.statistics .logo {
  margin-bottom: 30px;
}

.statistics table {
  width: 360px;
}

.statistics caption {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.statistics tr {
  max-width: 120px;
}

.statistics th {
  padding-top: 15px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.statistics td {
  width: 119px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #000000;
}

.statistics span {
  font-size: 24px;
  font-weight: 700;
  vertical-align: super;
}

.partners-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 185px;
  margin: 0;
  padding: 0;
  margin-left: -40px;
  margin-bottom: 80px;
  padding-top: 10px;
  align-items: center;
  list-style: none;
}

.partners-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  right: 0;
  height: 2px;
  background-color: #eeeeee;
}

.partners-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 0;
  height: 2px;
  background-color: #eeeeee;
}

.partners-list li {
  position: relative;
  margin-left: 20px; 
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
  vertical-align: bottom;
  text-align: center;
  min-width: 280px;
  opacity: 0.2;
}

.partners-list li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -26px;
  height: 52px;
  width: 2px;
  background-color: #000000;
} 

.partners-list li:hover,
.partners-list li:focus {
  opacity: 1;
}

.partners-list li:active {
  opacity: 0.1;
}

.partners-list li:hover::before,
.partners-list li:focus::before {
  opacity: 0.2;
}

.partners-list li:active::before {
  opacity: 1;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.filter-item {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border: none;
}

.range-filter {
  margin-top: 32px;
  margin-bottom: 30px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;  
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin-bottom: 10px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-item legend,
.sorting h3 {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.sorting h3 {
  margin-top: 3px;
  line-height: 18px;
}

.filter-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -35px;
  top: -2px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before,
input[type="checkbox"].visually-hidden:checked + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before,
input[type="checkbox"].visually-hidden:focus + label::before,
input[type="radio"].visually-hidden:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox + label:disabled::before {
  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  width: 25px;
  height: 25px;
  left: -35px;
  top: -2px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  opacity: 1;
}

.filter-input-radio + label:disabled::before {
  opacity: 0.1;
}

.filter-input + label{
  line-height: 20px;
}

.filter-input + label,
.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  margin: 0;
  margin-top: 5px;
  width: 100%;
  color: #000000;
  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sorting-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 760px;
}

.sorting {
  display: flex;
  width: 100%;
  margin-bottom: 40px; 
}

.sorting-types {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-right: 35px;
  margin-left: auto;
  font-size: 14px;
  line-height: 18px;
}

.sorting-types li {
  display: inline-block;
  vertical-align: top;
  margin-left: 24px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-types a {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.3);  
}

.sorting-types a:hover,
.sorting-types a:focus {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.6);  
}

.sorting-types a:active,
.sorting-types .active {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 1);  
}

.sorting-direction {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sorting-direction li{
  margin-left: 17px;
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.3);
}

.down-dir path,
.up-dir path{
  fill: rgb(166, 166, 166);
  fill: rgba(166, 166, 166, 0.3);
}

.sorting-direction a:hover path,
.sorting-direction a:focus path{
  fill: #a6a6a6;
}

.sorting-direction a:active path,
.sorting-direction .active path{
  fill: #000000;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -40px;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 616px;
  margin-left: 40px;
  margin-bottom: 35px;

  text-align: center;
}

.preview{
  position: relative;
  display: block;
  width: 360px;
  height: 576px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  outline: 1px solid rgba(0, 1, 1, 0.1);
  outline-offset: -1px;
}

.preview::before {
  content: "";

  position: absolute;
  top: -40px;
  width: 360px; 
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.preview:hover::before,
.preview:focus::before{
  opacity: 1;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.order-field {
  display: none;
  position: absolute;
  width: 360px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 30px; 
  padding-bottom: 43px;
  background-color: #eeeeee;
  text-align: center;

  line-height: 18px;
  bottom: 0;
}

.catalog-item:hover .order-field,
.catalog-item:focus .order-field{
  display: block;
}

.order-field h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.order-field a {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.order-field a:hover,
.order-field a:focus {
  color: #fb565a;
}

.order-field a:active {
  color: rgba(0, 0, 0, 0.3);
}

.order-field p {
  width: 230px;
  margin: 0;
  padding: 0;
}

.order-field .button {
  color: #ffffff;
  min-width: 200px; 
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 30px; 
  text-transform: uppercase;
}

.order-field .button,
.order-field .button:hover,
.order-field .button:focus,
.order-field .button:active {
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;  
  margin: 0;
  padding: 0;
  margin-top: 25px;
  list-style: none;
}

.pagination-item {
  margin-right: 13px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 15px 20px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item-current a {
  background-color: #ffffff;
  padding: 12px 17px;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    border: none;
    padding: 15px 20px;
}

.pagination-item:last-child a {
  padding: 15px 75px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.3);
}

.site-footer {
  width: 100%;
}

.map-wrapper {
  position: relative;
  max-height: 416px;
  margin-bottom: 70px;
  background-color: #e9e5dc;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.map-wrapper iframe {
  border: 0;
  width: 100%;
}

.contacts {
  position: absolute;
  top: 0;
  left: calc((100% - 1160px) / 2);
  width: 320px;
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 45px 50px;
  text-align: left;

  background-color: #ffffff;
}

.footer-contacts {
  margin: 0;

  line-height: 18px;
  color: #666666;
}

.footer-contacts-name {
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.footer-contacts-tel {
  display: block;
  margin-top: 20px;
}

.button-write-us {
  width: 220px;
}

.footer-social {
  display: flex;
  margin-bottom: 70px;
}

.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  margin-right: 140px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 10px;
 
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 0 3px rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  fill: rgb(255, 255, 255);
  fill: rgba(255, 255, 255, 0.3);
}

.friends {
  margin-top: 5px;
  width: 560px;
}

.friends strong{
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.friends p{
  display: block;
  margin: 0;
  margin-top: 10px;
  line-height: 22px;
  color: #444444;
}

.modal {
  position: fixed;
  display: none;
  z-index: 2;
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-write-us {
  top: 50%;
  left: 50%;
  width: 960px;
  margin-left: -490px;
  margin-top: -295px;
  padding: 70px 100px 85px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;

  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.modal-close:hover::before, 
.modal-close:focus::before{
  opacity: 1;
}

.modal-close:active::before{
  opacity: 0.1;
}

.modal-write-us h2 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 100%;
  margin: 0;
  padding: 0;
} 

.appointment-item input,
.appointment-item textarea {
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  font: inherit;
  vertical-align: top;

  color: rgb(68, 68, 68);
  color: rgba(68, 68, 68, 0.5);
  background-color: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.appointment-item textarea {
  resize: none;
  width: 760px;
  min-height: 119px;
}

.appointment-form  button {
  min-width: 260px;
}

.appointment-item input:hover,
.appointment-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.appointment-item input:focus,
.appointment-item textarea:focus {
  color: rgb(68, 68, 68);
  border: 2px solid #000000;
}

.appointment-item input:invalid,
.appointment-item textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}


.half-width {
  width: 360px;
  margin-bottom: 35px;
}

.half-width input{
  width: 360px;
}

.appointment-form label {
  display: flex;
  margin-bottom: 8px;
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.overlay-show {
  display: block;
}

@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}
